{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- Modification code a partir de la  -->
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Creation de Proces Verbale</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">  Comité de Formation
                                    Doctorale de L’École Doctorale de l’ESI</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                           
            </div>
            <!-- [ breadcrumb ] end -->
            <form action="test.html" onsubmit="result()">
                
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="alert alert-info" role="alert">
                              Création du PV de la réunion du comité de formation doctorale de l'ESI
                              </div>
                            <div class="card">

                                <div class="card-header">
                                    <h5>PV CFD </h5>
                                </div>
                               
                                <div class="card-block">
                                    <div class="mb-4">
                                        <label for="TitreReunion">Ordre du jour</label>
                                        <input type="text" class="form-control" id="TitreReunion" >
                                    
                                    </div>
                                    <div id="test">
                                        <label for="TitreReunion">Etaient presents: </label>
                                        <div  class="mb-4" for="TitreReunion" id="duppliquer">
                                        <input type="text" class="form-control" id="presents" >
                                        </div>
                                    </div>  
                                    <button style="float: right;" class="btn btn-square btn-primary" onclick="myFunction1()">Ajouter</button>
                                    <button style="float: right;" type="button" class="btn btn-square btn-danger" data-toggle="modal" data-target="#exampleModal"  onclick="Hide1()">
                                        Supprimer
                                      </button>
                                      <script >
                                        function Hide1() {
                                         document.getElementById("duppliquer").style.display = "none";
                                       } 
                                        function myFunction1() {
                                          var para = document.getElementById("duppliquer");
                                          var dup=para.cloneNode(true);
                                          document.getElementById("test").appendChild(dup);
                                        }
                                        </script>        
                                        <div class="mb-4">
                                            <label for="birthday" id=c>Date de la réunion </label>
                                            <div class="input-group">
                                                <input data-datepicker="" class="form-control" id="datereunion" type="datetime" placeholder="dd/mm/yyyy" required>
                                            </div> 
                                        </div>
                                        <div class="mb-4">
                                            <label for="birthday">Début de la réunion</label>
                                            <div class="input-group">
                                                <input data-datepicker="" class="form-control" id="debreunion" type="datetime" placeholder="11H:30" required>
                                            </div> 
                                        </div>
                                        <div class="mb-4">
                                            <label for="birthday">Fin de la réunion</label>
                                            <div class="input-group">
                                                <input data-datepicker="" class="form-control" id="finreunion" type="datetime" placeholder="11H:30" required>
                                            </div> 
                                        </div> 
                            </div>    
                                    </div>
                                    <script > 
                                        function affichersection() {
                                            document.getElementById("validation").style.display ="block";   
                                        }
                                        function affichersec2()
                                        {
                                            document.getElementById("suivi").style.display ="block"; 
                                        }
                                        function affichersec3()
                                        {
                                            document.getElementById("").style.display ="block"; 
                                        }

                                        </script> 
                                        <div id="validation" class="card" style='display:none'>
                                            <div class="card-header">
                                                <h5>Section Validation des propositions des sujets de doctorat </h5>
                                                <button style="float: right;" type="button" class="btn btn-square btn-danger" data-toggle="modal" data-target="#exampleModal"  onclick="Hide2()"> Supprimer sujet </button>
                                                <button  style="float: right;"class="btn btn-primary " type="button"  aria-haspopup="true" aria-expanded="false" onclick="ajoutersujet()">Ajouter sujet  </button>

                                            </div>

                                            <div id="validation-dupp" class="card-block">
                                                <div class="mb-4">
                                                    <label for="TitreReunion">Sujet</label>
                                                    <input type="text" class="form-control" id="TitreReunionValidate" > 
                                                </div>
                                                <div class="mb-4">  <label for="TitreReunion">Directeur de these</label> <input type="text" class="form-control" id="TitreReunionValidate" > </div>
                                                <div class="mb-4"><label for="TitreReunion">Co-directeur de these </label>  <input type="text" class="form-control" id="TitreReunionValidate" >    </div>
                                                <div class="mb-4">  <label for="TitreReunion"> Avis du CFD </label> <select  class="form-control" id="selection" name="selection" onchange="showHide2()" required > <option value="Favorable">Avis favorable</option>  <option value="Non favorable">Avis Non favorable</option>  <option value="Autre"> Autres </option></select>
                                                                        <script type="text/javascript"> function showHide2() { let opt = document.getElementById("selection").value;  if (opt == 'Autre'){ document.getElementById("saisiejus").style.display = "block";  }  }
                                                                        </script> 
                                                     <div class="mb-4" class="form-group" id="saisiejus" style='display :none'> <label  class="mb-4" for="tuteur">Justificatif</label>  <input type="text" class="form-control" id="TitreReunionValidate"  placeholder="saisir justificatif" required>   </div>        
                                                 </div>
                                                </div>
                                                 
                                                    <script > function Hide2() {  document.getElementById("validation-dupp").style.display = "none";   } 
                                                     function ajoutersujet() {var param = document.getElementById("validation-dupp"); var du=param.cloneNode(true);  document.getElementById("validation").appendChild(du);  }
                                                    </script> 
                                                 
                                                </div>   
                                         
                                        <div id="suivi" class="card" style='display:none'>      <!--2 EME ELEMENT  --> 
                                            <div class="card-header">
                                                <h5>Section suivi des doctorants </h5>
                                                <button style="float: right;" class="btn  btn-square btn-primary " type="button"  onclick="Ajouterdoc()">Ajouter un doctorant </button>


                                            </div>

                                      
                                            <div  id="suivi_dupp" class="card-block">
                                                <div class="mb-4"> <label for="TitreReunion">nom doctorant</label> <input type="text" class="form-control" id="TitreReunionValidate" >   </div>
                                                <div class="mb-4">
                                                    <label for="TitreReunion"> Decision du CFD  </label>
                                                    <select  class="form-control" id="selection" name="selection" onchange="showHide2()" required >
                                                      <option value="Favorable">Admis </option>
                                                      <option value="Non favorable">inscrit à la nouvelle année</option>
                                                      <option value="Autre"> exclut</option>                           
                                                     </select>                           
                                                 </div> 
                                                </div>                                        
                                       
                                                   <script >    
                                                         function Ajouterdoc() { var parame = document.getElementById("suivi_dupp");  var dupll=parame.cloneNode(true); document.getElementById("suivi").appendChild(dupll); }
                                                    </script>
                                                <!-- [ fin div  ] end -->                          
                                        </div>
                        </div>    
                    </div>
                          <!-- [ fin card ] end -->                         
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="myFunction2()">Ajouter une nouvelle section</button>
                        <div class="dropdown-menu">
                            <button class="dropdown-item"  onclick="affichersection()" >Section validation sujet </button>
                            <button class="dropdown-item"  onclick="affichersec2()" >Section suivi doctorants   </button>
                        </div>
                    
                        <button class="btn btn-primary "  id="valider"  aria-haspopup="true" aria-expanded= "false" onclick="result()" > Valider PV</button>            

                        <button class="btn btn-primary " type="button"  aria-haspopup="true" aria-expanded= "false" onclick="">Generer PV sous format PDF</button>  
                    
                    <!-- [ Main Content ] end -->
            </div>
        </div>
        
        <script>
            function result(){
            let titre =document.getElementById('TitreReunion').value;
            let date =document.getElementById('datereunion').value;
            let deb =document.getElementById('debreunion').value;
            let fin =document.getElementById('finreunion').value;
            localStorage.setItem('presents', document.getElementById('presents').value);
            localStorage.setItem('Titre', titre);
            localStorage.setItem('Date', date);
            localStorage.setItem('Debut_reunion', deb);
            localStorage.setItem('Fin_reunion',fin);
                console.log(localStorage.getItem('Titre'));
            }
            
        </script>
    </form>

    </div> <!-- 2eme  --> 
</div>
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
var selectStateInputEl = d.querySelector('#state');
if(selectStateInputEl) {
    const choices = new Choices(selectStateInputEl);
}