

<div id="recup">
       
    <p id="recup1">Proces-verbal de la reunion du Conseil Scientifique
            de l ESI </p>

</div>


<div style="position:absolute;top:12.21in;left:1.86in;width:5.18in;line-height:0.15in;"><span
           style="font-style:normal;font-weight:normal;font-size:9pt;color:#000000">Ecole
           nationale Superieure d Informatique (ESI ex INI), BP 68M, 16270, Oued Smar, Algerie</span><span
           style="font-style:normal;font-weight:normal;font-size:9pt;color:#000000">
    </span><br />
    <DIV style="position:relative; left:1.08in;"><a href="http://www.esi.dz"><span
                         style="font-style:normal;font-weight:normal;font-size:9pt;color:#000000">Tel
                         : 023 93 91 30; Fax : 023 93 91 34; http://www.esi.dz</span></a>
           <span style="font-style:normal;font-weight:normal;font-size:9pt;color:#000000">
           </span><br /></SPAN>
    </DIV>
</div>

<div style="position:absolute;top:0.47in;left:2.75in;width:3.73in;line-height:0.21in;"><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">Republique
           Algerienne Democratique et Populaire</span><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">
    </span><br />
    
</div>
<div style="position:absolute;top:0.89in;left:2.01in;width:5.20in;line-height:0.17in;"><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">Ministere
           de Enseignement Superieur et de la Recherche Scientifique</span><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">
    </span><br />
    
</div><!--
<img style="position:absolute;top:1.37in;left:0.54in;width:8.20in;height:0.02in" src="../static/assets/images/vi_2.png" />
<img style="position:absolute;top:1.56in;left:0.58in;width:2.13in;height:0.77in" src="../static/assets/images/ri_1.png" />
-->
<div style="position:absolute;top:1.78in;left:6.79in;width:1.97in;line-height:0.17in;"><span
           style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Arial;color:#000000"> 
    </span></SPAN><br /></div>
<div style="position:absolute;top:1.78in;left:6.79in;width:1.97in;line-height:0.17in;">
    
</div>
<div style="position:absolute;top:2.00in;left:5.87in;width:2.93in;line-height:0.18in;"><span
           style="font-style:normal;font-weight:normal;font-size:11pt;color:#000000">Ecole
           nationale Superieure d Informatique </span><span
           style="font-style:normal;font-weight:normal;font-size:11pt;color:#000000">
    </span><br /></SPAN></div>
<!--<img style="position:absolute;top:12.12in;left:0.38in;width:8.34in;height:0.02in" src="../static/assets/images/vi_4.png" />-->
<div style="position:absolute;top:3.08in;left:1.10in;width:6.90in;line-height:0.33in;"><span
           style="font-style:normal;font-weight:bold;font-size:20pt;color:#000000">Proces-verbal
           de la reunion du Comite de Formation</span><span
           style="font-style:normal;font-weight:bold;font-size:20pt;color:#000000">
    </span><br /></SPAN></div>

<div style="position:absolute;top:3.43in;left:1.75in;width:5.60in;line-height:0.33in;"><span
           style="font-style:normal;font-weight:bold;font-size:20pt;color:#000000">Doctorale
           de L ecole Doctorale de l ESI du</span><span
           style="font-style:normal;font-weight:bold;font-size:20pt;color:#000000">
    </span><br /></SPAN></div>

<div style="position:absolute;top:3.78in;left:2.88in;width:3.34in;line-height:0.33in;"><span
           style="font-style:normal;font-weight:bold;font-size:20pt;color:#000000">Mardi 01 Juillet 2021.</span><span
           style="font-style:normal;font-weight:bold;font-size:20pt;color:#000000">
    </span><br /></SPAN></div>

<div style="position:absolute;top:4.72in;left:1.07in;width:6.92in;line-height:0.20in;"><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">Le
           Mardi premier juillet deux mille vingt et un s est tenue une reunion du Comite de Formation</span><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">
    </span><br /><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">Doctorale
           (CFD) de l ecole doctorale de l ESI 2020-2021.</span><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">
    </span><br /></SPAN></div>
<div style="position:absolute;top:5.35in;left:1.07in;width:5.81in;line-height:0.20in;"><span
           style="font-style:normal;font-weight:bold;font-size:12pt;color:#000000">Etaient
           presents :</span><span
           style="font-style:normal;font-weight:bold;font-size:12pt;color:#000000">
    </span><br /></SPAN><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">Le
           Directeur de la Post-Graduation et de la Recherche M. S.L. KHELIFATI</span><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">
    </span><br /><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">La
           Presidente du CFD Mme F. BENBOUZID-SITAYEB</span><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">
    </span><br /></SPAN></div>
<div style="position:absolute;top:6.19in;left:1.07in;width:3.29in;line-height:0.20in;"><span
           style="font-style:normal;font-weight:bold;font-size:12pt;color:#000000">Les
           membres :</span><span
           style="font-style:normal;font-weight:bold;font-size:12pt;color:#000000">
    </span><br /></SPAN><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">Mme F.
           NADER </span><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">
    </span><br /></SPAN></div>
<div style="position:absolute;top:6.39in;left:4.56in;width:1.50in;line-height:0.21in;"><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">M. D.
           ZEGOUR</span><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">
    </span><br /><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">M. M.
           LOUDINI</span><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">
    </span><br /></SPAN><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">M.
           W.K. HIDOUCI</span><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">
    </span><br /><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">M. Y.
           CHALLAL </span><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">
    </span><br /></SPAN></div>
<div style="position:absolute;top:7.86in;left:1.07in;width:2.50in;line-height:0.20in;"><span
           style="font-style:normal;font-weight:bold;font-size:12pt;color:#000000">Etaient
           absents:</span><span
           style="font-style:normal;font-weight:bold;font-size:12pt;color:#000000">
    </span><br /></SPAN><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">Mme K.
           BENATCHBA(excusee)</span><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">
    </span><br /></SPAN></div>
<div style="position:absolute;top:8.70in;left:1.07in;width:1.26in;line-height:0.20in;"><span
           style="font-style:normal;font-weight:bold;font-size:12pt;color:#000000">Ordre du
           jour :</span><span
           style="font-style:normal;font-weight:bold;font-size:12pt;color:#000000">
    </span><br /></SPAN></div>
<div style="position:absolute;top:8.90in;left:1.89in;width:5.18in;line-height:0.16in;"><span
           style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">1.</span><span
           style="font-style:normal;font-weight:normal;font-size:12pt;font-family:Arial;color:#000000">
    </span></SPAN><br /></div>
<div style="position:absolute;top:8.90in;left:1.89in;width:5.18in;line-height:0.20in;">
    <DIV style="position:relative; left:0.27in;"><span
                  style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">Validation
                  des propositions de sujets de doctorat LMD 2020-2021.</span><span
                  style="font-style:normal;font-weight:normal;font-size:12pt;color:#000000">
           </span><br /></SPAN></DIV>
</div>
<div style="position:absolute;top:10.79in;left:1.07in;width:2.00in;line-height:0.20in;"><span
           style="font-style:normal;font-weight:bold;font-size:12pt;color:#000000">Debut de
           seance : 11H30.</span><span
           style="font-style:normal;font-weight:bold;font-size:12pt;color:#000000">
    </span><br /></SPAN></div>



<script>
    
    console.log(localStorage.getItem( Titre ));
    var sth = localStorage.getItem( Titre );
//Date Debut_reunion Fin_reunion
    var sth2 = document.getElementById("recup1").innerHTML = localStorage.getItem( Titre );

</script>