{% extends "layouts/base.html" %}

{% block title %} Ui Collapse {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h3 class="m-b-10">Réglementation</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ collapse ] start -->
                    <div class="col-sm-12">
                        <hr>
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Régles d'attribution </a></h5>

                                </div>
                                <div id="collapseTwo" class="collapse card-body" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    Règles de classement : <br>
• L’attribution se fera en fonction des stages déjà effectués.  <br>
• A nombre de jours consommés égal, sera considéré en premier :  <br>
 Le candidat qui n’aura pas bénéficié d’un stage la ou les dernière(s) année(s)
écoulée(s). <br>
 La production scientifique durant l’année précédente.  <br>
 Il sera tenu compte de la participation aux activités et productions <br>
(globalement et durant l’année en cours) : il sera tenu compte du plan de
travail soumis à la DPGR avant le départ en stage et du rapport d’activité
présenté à l’issue du stage précédent.
 Pour les enseignants : <br>
 Productions scientifiques
 Proposition(s) de sujet(s) de thèse, de projet de recherche en
partenariat avec le laboratoire d’accueil.
 Encadrement
 Organisation de manifestations
 Participation active aux activités dans l’école
Pour les doctorants : <br>
 Production scientifique
 Avis du directeur de thèse et du conseil du laboratoire ou bien
du directeur du laboratoire ou bien du chef de projet.
 Participation à l’organisation de manifestations
 Participation active aux activités au sein de l’école
 Pour les enseignants de rang magistral, il sera tenu compte de la
réalisation des stages précédents (retombées constatées sur les stages
précédents en termes de productions co-signées, projets communs
agréés et co-encadrements...).
                                </div>
                            </div>
                            
                            
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Doctorant </a></h5>
                                    <button style="float: right;" type="button" class="btn btn-square btn-primary"  data-toggle="modal" data-target="#replyModal2" >Uploader reglementation </button>

                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Description </th>
                                                        <th>Fichier </th>
                                                          
                                                    </tr>
        
                                                </thead>
                                                <tbody>
                                                
                                                 <tr>
                                      
                                                    <td > La thèse de Doctorat consiste en l'élaboration par le doctorant <br> d'un travail de recherche original devant faire l'objet d'au moins <br> une publication dans une revue scientifique reconnue</td>
                                                    <td > fichier_doctorant.pdf</td>   
                                                            
                                                    </tr>
                                                    <tr>
                                      
                                                        <td > La thèse de Doctorat </td>
                                                        <td > fichier_these.pdf</td>   
                                                                
                                                        </tr>
                                                        <tr>
                                      
                                                            <td > regles d'encadrement  </td>
                                                            <td > decret_ministere.pdf</td>   
                                                                    
                                                            </tr>
                                                            <tr>
                                      
                                                                <td > regle de reinscription  </td>
                                                                <td > reinscription.pdf</td>   
                                                                        
                                                                </tr>
                                                
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="collapseOne1" class=" card-body collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Habilitation  </a></h5>
                                        <button style="float: right;" type="button" class="btn btn-square btn-primary"  data-toggle="modal" data-target="#replyModal2" >Uploader reglementation </button>
    
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Description </th>
                                                            <th>Fichier </th>
                                                              
                                                        </tr>
            
                                                    </thead>
                                                    <tbody>
                                                    
                                                     <tr>
                                          
                                                        <td > La thèse de Doctorat consiste en l'élaboration par le doctorant <br> d'un travail de recherche original devant faire l'objet d'au moins <br> une publication dans une revue scientifique reconnue</td>
                                                        <td > fichier_doctorant.pdf</td>   
                                                                
                                                        </tr>
                                                        <tr>
                                          
                                                            <td > La thèse de Doctorat </td>
                                                            <td > fichier_these.pdf</td>   
                                                                    
                                                            </tr>
                                                            <tr>
                                          
                                                                <td > regles d'encadrement  </td>
                                                                <td > decret_ministere.pdf</td>   
                                                                        
                                                                </tr>
                                                                <tr>
                                          
                                                                    <td > regle de reinscription  </td>
                                                                    <td > reinscription.pdf</td>   
                                                                            
                                                                    </tr>
                                                    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="collapseOne1" class=" card-body collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    </div>
                                    </div>
                                 <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Ajouter reglementation  </a></h5>
                                    <button style="float: right;" type="button" class="btn btn-square btn-primary"  data-toggle="modal" data-target="#replyModal2" >Uploader reglementation </button>
                                  <!-- Modal -->
    <div class="modal fade" id="replyModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
               <div>
                <h5 class="modal-title" id="exampleModalLabel">Ajouter reglementation  </h5>
                <font color="red"> All fields are required</font>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
                         <form action="#" method="POST">
                                    {% csrf_token %}
                                    <!-- Form -->
                                    
                                    
                                    <div class="form-group">
                                     <div class="form-group mb-4">
                                            <label>Description</label>
                                            <div class="input-group">
                                               
                                                <input type="text" placeholder="Ajouter une description" class="form-control" name="Description" required>
                                            </div>  
                                        </div>
                                    <div class="form-group mb-4">
                                        <label for="formFile" class="form-label">fichier reglementation</label>
                                            <input class="form-control mb-3" type="file" id="formFile">
                                    </div>
                                        
                                    </div>
                                   <div class="modal-footer">
                                    {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> {% endcomment %}
                                    <button type="submit" class="btn btn-primary btn-block" id="reply_button" value="expert" >Confirmer</button>
                                </div>
                                </form>
         </div>
            
         </div>
        </div>
    </div>

                                </div>
                                 </div>
                                 
                                 <!-- <div class="card">   
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Ajouter reglementation  </a></h5>
                                        <button style="float: right;" class="btn btn-square btn-primary" onclick="uploader()">Uploader reglementation </button>

                                    </div>
                                    
                                    <div id="collapseOne" class=" card-body collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="mb-3" id="amettre" >
                                            <label for="formFile" class="form-label">reglementation_1</label>
                                            <input class="form-control mb-3" type="file" id="formFile">
                                            <button style="float: right;" class="btn btn-square btn-primary  mb-3" onclick="Ajoutdes()">Ajouter description </button>
                                            <div id="description" class="card" style='display:none'>
                                                <div class="card-header">
                                                    <div class="mb-4">
                                                        <label for="TitreReunion">description</label>
                                                        <input type="text" class="form-control mb-4" id="descriptiontext" >
                                                        <button style="float: right;" class="btn btn-square btn-primary mb-4" >Valider</button>
 
                                                    </div>
                                                </div>
                                                     
                                                    </div> 
                                          </div>
                                          
                                          <div>
                                        </div>
                                        
                                    </div>
                                    <script >
                                    
                                        function uploader() {
                                            var upp = document.getElementById("collapseOne");
                                          var d=upp.cloneNode(true);
                                          document.getElementById("collapseOne").appendChild(d);
                                        }
                                        function Ajoutdes() {
                                            document.getElementById("description").style.display ="block";   

                                        }
                                        </script>
                                    </div>   -->
                            </div>
                            
                        
                        </div>
                    </div>
                    <!-- [ collapse ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
