{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
  <div class="pcoded-inner-content">
       <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                <h5 class="m-b-10">Listes Aide à la decision</h5>
                </div>
            </div>
            </div>
        </div>
      </div>

                                   
         <div class="main-body">
            <div class="page-wrapper">
                                  <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card" >
                            <div class="card-header">
                                <h5>Liste des experts</h5>
                                <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#replyModal" >Ajouter Expeert</button>
                                
                            </div>
                             
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Matricule</th>
                                                <th>Nom</th>
                                                <th>Prenom</th>
                                              
                                                <th>Email</th>
                                                <th>Domaine</th>
                                                 <th>Grade</th>
                                                
                                                <th>Etablissement</th>
                                                  
                                            </tr>

                                        </thead>
                                        <tbody>
                                         {% for e in expert %}
                                         <tr>
                              
                                            <td >{{e.Matricule}} </td>
                                            <td >{{e.Nom}}</td>
                                            <td >
                                                {{e.Prenom}}
                                            </td>
                                            
                                            <td >
                                                {{e.Email}}
                                            </td>
                                            <td>
                                                {{e.Domaine}}
                                            </td>
                                            <td>
                                                {{e.Grade}}
                                            </td>
                                            
                                            <td>
                                                {{e.Etablissement}}
                                            </td>
                                            
                                            </tr>
                                         {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-xl-12">
                        <div class="card" >
                            <div class="card-header">
                                <h5>Liste des jurys</h5>
                                <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#replyModal2" >Ajouter jury</button>
                                
                            </div>
                             
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Matricule</th>
                                                <th>Nom</th>
                                                <th>Prenom</th>
                                                <th>Email</th>
                                                <th>Domaine</th>
                                                  
                                            </tr>

                                        </thead>
                                        <tbody>
                                         {% for f in Jury %}
                                         <tr>
                              
                                            <td >{{f.Matricule}} </td>
                                            <td >{{f.Nom}}</td>
                                            <td >
                                                {{f.Prenom}}
                                            </td>
                                            
                                            <td >
                                                {{f.Email}}
                                            </td>
                                            <td>
                                                {{f.Domaine}}
                                            </td>
                                            
                                            
                                            </tr>
                                         {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- [ Main Content ] end -->
                <a href="pdexpert">
                    <button class="btn btn-primary " type="button"  aria-haspopup="true" aria-expanded= "false" >Generer PV sous format PDF</button>  </a>
            </div>
        </div>
    </div>
     <!-- Modal -->
    <div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
               <div>
                <h5 class="modal-title" id="exampleModalLabel">Ajouter un Expert  </h5>
                <font color="red"> All fields are required</font>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
                         <form action="addjury" method="POST">
                                    {% csrf_token %}
                                    <!-- Form -->
                                    
                                    
                                    <div class="form-group">
                                     <div class="form-group mb-4">
                                            <label>Matricule de l'expert</label>
                                            <div class="input-group">
                                               
                                                <input type="text" placeholder="Matricule de l'expert" class="form-control" name="Matricule" required>
                                            </div>  
                                        </div>
                                    <div class="form-group mb-4">
                                        <label >Nom de l'expert</label>
                                        <div class="input-group">
                                            
                                            <input type="text" class="form-control" placeholder="Nom de l'expert" name="Nom" required>
                                        </div>  
                                    </div>
                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label>Prénom de l'expert</label>
                                            <div class="input-group">
                                                
                                                <input type="text" placeholder="Prénom de l'expert" class="form-control" name="Prenom" required>
                                            </div>  
                                        </div>
                                        <!-- End of Form -->
                                        <!-- Form -->
                                       
                                        <div class="form-group mb-4">
                                            <label>Grade de l'expert</label>
                                            <div class="input-group">
                                               
                                                <input type="text" placeholder="Grade de l'expert" class="form-control" name="Grade" required>
                                            </div>  
                                        </div>
                                        <div class="form-group mb-4">
                                            <label>Domaine de l'expert</label>
                                            <div class="input-group">
                                              
                                                <input type="text" placeholder="Domaine de l'expert" class="form-control" name="Domaine" required>
                                            </div>  
                                        </div>
                                        <div class="form-group mb-4">
                                            <label>Nombre d'annee d'expertise  de l'expert</label>
                                            <div class="input-group">
                                               
                                                <input type="text" placeholder="Nombre d'annee d'expertise" class="form-control" name="AnExp" required>
                                            </div>  
                                        </div>
                                        <div class="form-group mb-4">
                                            <label>Etblisement de l'expert</label>
                                            <div class="input-group">
                                                
                                                <input type="text" placeholder="Etblisement de l'expert" class="form-control" name="Etablissement" required>
                                            </div>  
                                        </div>
                                         <div class="form-group mb-4">
                                            <label>Email de l'expert</label>
                                            <div class="input-group">
                                               
                                                <input type="text" placeholder="Email de l'expert" class="form-control" name="Email" required>
                                            </div>  
                                        </div>
                                        <div class="form-group mb-4">
                                            <label>Numero de telephone de l'expert</label>
                                            <div class="input-group">
                                                
                                                <input type="text" placeholder="Num" class="form-control" name="Num" required>
                                            </div>  
                                        </div>
                                        <!-- End of Form -->
                                    </div>
                                   <div class="modal-footer">
                                    {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> {% endcomment %}
                                    <button type="submit" class="btn btn-primary btn-block" id="reply_button" value="expert" >Confirmer</button>
                                </div>
                                </form>
         </div>
            
         </div>
        </div>
    </div>

      
    <!-- Modal -->
    <div class="modal fade" id="replyModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
               <div>
                <h5 class="modal-title" id="exampleModalLabel">Ajouter un Jury  </h5>
                <font color="red"> All fields are required</font>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <div class="modal-body">
                         <form action="#" method="POST">
                                    {% csrf_token %}
                                    <!-- Form -->
                                    
                                    
                                    <div class="form-group">
                                      <div class="form-group mb-4">
                                            <label>Matricule de l'expert</label>
                                            <div class="input-group">
                                               
                                                <input type="text" placeholder="Matricule " class="form-control" name="Matricule" required>
                                            </div>  
                                        </div>
                                    <div class="form-group mb-4">
                                        <label >Nom de l'expert</label>
                                        <div class="input-group">
                                            
                                            <input type="text" class="form-control" placeholder="Nom " name="Nom" required>
                                        </div>  
                                    </div>
                                        <!-- Form -->
                                        <div class="form-group mb-4">
                                            <label>Prénom de l'expert</label>
                                            <div class="input-group">
                                                
                                                <input type="text" placeholder="Prénom " class="form-control" name="Prenom" required>
                                            </div>  
                                        </div>
                                        <!-- End of Form -->
                                        <!-- Form -->
                                       
                                        
                                        <div class="form-group mb-4">
                                            <label>Domaine de l'expert</label>
                                            <div class="input-group">
                                              
                                                <input type="text" placeholder="Domaine" class="form-control" name="Domaine" required>
                                            </div>  
                                        </div>
                                        
                                        
                                         <div class="form-group mb-4">
                                            <label>Email de l'expert</label>
                                            <div class="input-group">
                                               
                                                <input type="text" placeholder="Email " class="form-control" name="Email" required>
                                            </div>  
                                        </div>
                                        
                                        <!-- End of Form -->
                                    </div>
                                   <div class="modal-footer">
                                    {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> {% endcomment %}
                                    <button type="submit" class="btn btn-primary btn-block" id="reply_button" value="jury" >Confirmer</button>
                                </div>
                                </form>
         </div>
         
         </div>
        </div>
    </div>





      

   
    
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}